#contact img {
    width: 20vw;
    height: auto;
}

#comment p {
    font-family: sans-serif;
    font-size: 1vw;
}

#comment {
    width: 100vw;
}

#about {
    padding: 1vw;
    border-radius: 1vw;
}

#contact {
    padding: 0.5vw;
    border-radius: 1vw;
    margin-top: 15vw;
    width: 80vw
}

#contact h1 {
    font-size: 2vw;
}

@media screen and (max-width: 640px) {
    #contact img {
        width: 20vw;
        height: auto;
    }
    #comment {
        width: 100vw;
    }
    #comment p {
        font-size: 2.5vw;
    }
    #contact {
        margin-top: 60vw;
        margin-left: 7.5vw;
    }
}