#formCreate {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 25%;
    transition: 0.5s;
}

#gamelist {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-left: 5%;
    transition: 0.5s;
}

#gamelist img {
    width: 10vw;
    height: auto;
}

#formEdit {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-left: 5%;
    transition: 0.5s;
}

@media screen and (max-width: 800px) {
    #formCreate {
        margin-top: 50%;
    }
    #gamelist {
        margin-top: 50%;
    }
    #formEdit {
        margin-top: 50%;
    }
}

@media screen and (max-width: 550px) {
    #formCreate {
        margin-top: 50%;
    }
    #gamelist {
        margin-top: 50%;
    }
    #formEdit {
        margin-top: 50%;
    }
}