body {
    background-color: black;
}

h1 {
    color: white;
}

#formCreate {
    position: absolute;
    text-align: center;
    margin-left: 38vw;
    margin-right: 38vw;
    float: left;
    margin-top: 25vw;
    transition: 0.5s;
    color: white;
}

table,
tr,
td {
    border: 3px solid black;
    background-color: white;
}

#name {
    font-size: 2vw;
}

#titlegame {
    margin-top: 10vw;
    margin-left: 45vw;
}

#content {
    float: left;
    margin-left: 2vw;
    width: 10vw;
    height: auto;
    margin-top: 3vw;
}

#game {
    float: left;
    width: 90vw;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 0.5vw;
    margin-left: 5vw;
    transition: 0.5s;
}

#gamelist {
    float: left;
    width: 50vw;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 2vw;
    margin-left: 10vw;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#game img {
    width: 25vw;
    height: 35vw;
}

#gamelist img {
    width: 25vw;
    height: 35vw;
}

#formEdit {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 20vw;
    margin-left: 5vw;
    transition: 0.5s;
}

#userlist {
    float: right;
    width: 20vw;
    border: 2px solid black;
    margin-top: 2vw;
    margin-right: 16vw;
    font-family: sans-serif;
    font-size: 1.5vw;
}

#titleAdmin {
    margin-top: 10vw;
    margin-left: 40vw;
    margin-bottom: 5vw;
}

#addgame {
    position: absolute;
    top: 13vw;
    left: 10.6vw;
}

#deleteuser {
    border: 3px solid black;
    padding: 3px;
    margin-left: 20vw;
    margin-right: 1vw;
    text-align: center;
}

#tabeluser {
    margin-bottom: 1vw;
    padding: 0.1vw;
}

#tabelgame {
    margin-bottom: 1vw;
    font-size: 2vw;
}

#verticalborder {
    border-left: 3px solid white;
    height: 500vw;
    margin-left: 50vw;
}

@media screen and (max-width: 640px) {
    #formCreate {
        position: absolute;
        text-align: center;
        margin-left: 38vw;
        margin-right: 38vw;
        float: left;
        margin-top: 25vw;
        transition: 0.5s;
        color: white;
    }
    #name {
        font-size: 2vw;
    }
    #titlegame {
        margin-top: 10vw;
        margin-left: 45vw;
    }
    #content {
        float: left;
        margin-left: 2vw;
        width: 10vw;
        height: auto;
        margin-top: 3vw;
    }
    #game {
        float: left;
        width: 90vw;
        position: relative;
        text-align: center;
        margin: auto;
        margin-top: 0.5vw;
        margin-left: 5vw;
        transition: 0.5s;
    }
    #gamelist {
        float: left;
        width: 50vw;
        position: relative;
        text-align: center;
        margin: auto;
        margin-top: 2vw;
        margin-left: 10vw;
        transition: 0.5s;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    #game img {
        width: 25vw;
        height: 35vw;
    }
    #gamelist img {
        width: 25vw;
        height: 35vw;
    }
    #formEdit {
        position: relative;
        text-align: center;
        margin: auto;
        margin-top: 20vw;
        margin-left: 5vw;
        transition: 0.5s;
    }
    #userlist {
        float: right;
        width: 20vw;
        border: 2px solid black;
        margin-top: 2vw;
        margin-right: 16vw;
        font-family: sans-serif;
        font-size: 1.5vw;
    }
    #titleAdmin {
        margin-top: 10vw;
        margin-left: 40vw;
        margin-bottom: 5vw;
    }
    #addgame {
        position: absolute;
        top: 13vw;
        left: 10.6vw;
    }
    #deleteuser {
        border: 3px solid black;
        padding: 3px;
        margin-left: 20vw;
        margin-right: 1vw;
        text-align: center;
    }
    #tabeluser {
        margin-bottom: 1vw;
        padding: 0.1vw;
    }
    #tabelgame {
        margin-bottom: 1vw;
        font-size: 2vw;
    }
    #verticalborder {
        border-left: 3px solid white;
        height: 500vw;
        margin-left: 50vw;
    }
}