body {
    background-color: black;
}

#about {
    background-color: white;
    width: 80vw;
    margin-top: 10vw;
    margin-left: 10vw;
}

#contact {
    background-color: white;
    width: 80vw;
    margin-top: 10vw;
    margin-left: 10vw;
}

table,
td,
tr {
    border: 2px solid black;
}

#header {
    background-color: black;
    width: 100%;
    height: auto;
    position: fixed;
    right: 0pt;
    top: 0pt;
    transition: 0.5s;
    z-index: 1;
}

#header img {
    width: 130px;
    height: auto;
    float: left;
}

#header p {
    color: white;
    background-color: black;
    float: right;
    margin-right: 10pt;
}

#header h2 {
    color: white;
    width: auto;
    background-color: black;
    float: left;
    transition: 0.5;
}

button {
    position: fixed;
    top: 50%;
    bottom: auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
    margin-left: 0pt;
    margin-top: 0pt;
}

.sidenav a {
    padding: 10% 8px 8px 32px;
    text-decoration: none;
    font-size: 23px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: auto;
    height: auto;
}

@media screen and (max-width: 800px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 14px;
        padding: 10% 2px 4px 8px;
    }
    .sidenav .closebtn {
        right: 20px;
    }
    .sidenav .closebtn {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px) {
    #header img {
        width: 100px;
        height: auto;
        float: none;
        margin-right: 40vw;
        margin-left: 40vw;
    }
    #header p {
        color: white;
        background-color: black;
        float: none;
        margin-right: 40%;
        margin-left: 40%;
        text-align: center;
        font-size: 3vw;
    }
    #header h2 {
        float: none;
        margin-right: 28%;
        margin-left: 28%;
        text-align: center;
        font-size: 5vw;
    }
}