#login {
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 30%;
    transition: 0.5s;
}

@media screen and (max-width: 800px) {
    #login {
        margin-top: 55%;
    }
}

@media screen and (max-width: 550px) {
    #login {
        margin-top: 85%;
    }
}