body {
    background-color: black;
}

#login {
    color: white;
    position: absolute;
    text-align: center;
    left: 6.5vw;
    right: 10vw;
    top: 20vw;
    transition: 0.5s;
}

@media screen and (max-width: 640px) {
    #login {
        left: 10vw;
        top: 65vw;
    }
    #login h1 {
        font-size: 4vw;
    }
    #login label {
        font-size: 3vw;
    }
    #login .input {
        width: 40vw;
    }
}