body {
    background-color: black;
}

#login {
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 42vw;
    margin-right: 42vw;
    margin-top: 20vw;
    transition: 0.5s;
}

@media screen and (max-width: 800px) {
    #login {
        margin-left: 32vw;
        margin-right: 32vw;
        margin-top: 40vw;
    }
}

@media screen and (max-width: 550px) {
    #login {
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 85vw;
    }
    #login h1 {
        font-size: 4vw;
    }
    #login label {
        font-size: 3vw;
    }
    #login .input {
        width: 16vw;
    }
}