body {
    background-color: black;
    color: white;
}

#profile {
    float: left;
    margin-top: 10vw;
    margin-left: 10vw;
    font-size: 1.5vw;
    border: 5px solid white;
    width: 20vw;
}

.edit {
    clear: both;
    margin-left: 2vw;
}

#editprofile {
    margin-top: 10vw;
    margin-left: 10vw;
    font-size: 1.5vw;
    border: 5px solid white;
    width: 50vw;
}

#editprofile button {
    margin-top: 0.5vw;
    margin-left: 46vw;
}