body {
    background-color: black;
}

#register {
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 44vw;
    margin-right: 44vw;
    margin-top: 10vw;
    transition: 0.5s;
}

@media screen and (max-width: 800px) {
    #register {
        margin-left: 35vw;
        margin-right: 35vw;
        margin-top: 33vw;
    }
}

@media screen and (max-width: 550px) {
    #register {
        margin-left: 35vw;
        margin-right: 35vw;
        margin-top: 80vw;
    }
    #register h1 {
        font-size: 4vw;
    }
    #register label {
        font-size: 3vw;
    }
    #register .input {
        width: 20vw;
    }
}