body {
    background-color: black;
}

#allreview {
    position: relative;
    margin-left: 8.5vw;
    margin-right: 10vw;
    margin-top: 5vw;
    transition: 0.5s;
    width: 80vw;
}

#review {
    background-color: white;
    border-radius: 10px;
    padding: 0.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 2vw;
}

h1 {
    font-size: 2.2vw;
    color: white;
    text-align: center;
    margin-top: 15vw;
    transition: 0.5s;
}

#formaddreview {
    text-align: center;
    margin-top: 10vw;
    transition: 0.5s;
    color: white;
}

#addbutton {
    position: absolute;
    top: 12vw;
    right: 10vw;
}

#reviewcontent {
    width: 77vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
    height: 5vw;
}

#reviewuser {
    width: 40vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

#like {
    align-content: flex-end;
}

@media screen and (max-width: 640px) {
    h1 {
        margin-top: 50vw;
        font-size: 4vw;
    }
    #allreview {
        margin-top: 5vw;
    }
    #reviewcontent div {
        font-size: 3vw;
        padding-left: 2vw;
    }
    #reviewuser {
        font-size: 3vw;
        text-align: center;
    }
    #addbutton {
        top: 50vw;
        right: 10vw;
    }
    #formaddreview {
        margin-top: 20vw;
    }
}