body {
    background-color: black;
}

#allreview {
    position: absolute;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20%;
    transition: 0.5s;
    width: 80vw;
}

#review {
    background-color: white;
}

h1 {
    font-size: 2.2vw;
    color: white;
    position: absolute;
    text-align: center;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-top: 15vw;
    transition: 0.5s;
}

#formaddreview {
    position: absolute;
    text-align: center;
    margin-left: 42vw;
    margin-right: auto;
    margin-top: 25vw;
    transition: 0.5s;
    color: white;
}